<section class="hero">
	<div class="text-container">
		<img src="{{ site.baseurl }}/images/big-logo.svg" height="400"/>
	</div>
	<div class="text-container">
		<h1 class="editable"></h1>

		<!-- Diese Website soll Menschen und Organisationen, die schwer zu bekommende Schutzmittel
		oder Ersatzteile brauchen, mit Makern und Makerspaces zusammenbringen, die diese eventuell
		herstellen können. Dahinter steckt ein kleines deutsch- und englischsprechendes
		Organistations-Team. -->
		<p class="subtext editable">{{site.data.lang[page.lang].subtitle}}</p>

		<div class="cta">
			<span class="button alt"><a href="#need">{{site.data.lang[page.lang].cta_need}}</a></span>
			<span class="button alt"><a href="#maker">{{site.data.lang[page.lang].cta_maker}}</a></span>
			<span class="button alt"><a href="#donate">{{site.data.lang[page.lang].cta_donate}}</a></span>
			<div class="clearfix"></div>
		</div>


		<!-- Wir listen ausschließlich Initiativen, die die (selbst) produzierten Dinge kostenlos oder
		zum Selbstkostenpreis anbieten.-->
		<p class="subtext editable">
			{{site.data.lang[page.lang].hint_non_profit}}
		</p>
		<br>
		<br>
		<strong><a target="_blank" href="https://twitter.com/search?q=%23makervsvirus" class="hero">#MakerVsVirus</a></strong>
	</div>
</section>

<div class="content">
	<section id="need">
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].offer_header}}</h2>

				<p>{{site.data.lang[page.lang].offer_description}}</p>

				<div id="offer-table-container">
					<table class="default-table" id="offer-table">

						<thead>
							<tr id="offer-table-header">
								<th>{{site.data.lang[page.lang].offer_table_name}}</th>
						    <th>{{site.data.lang[page.lang].offer_table_location}}</th>
						    <th>{{site.data.lang[page.lang].offer_table_offer}}</th>
							</tr>
						</thead>

						{% assign old_hubs = site.data.oldhubs %}
						{% assign new_hubs = site.data.MakerVsVirusHUBS %}
						{% assign hubs = old_hubs | concat: new_hubs %}

						<tbody>
								{% for row in hubs %}
									<tr class="offer-table-content">
	  								<td>
											<div>
												<b>{{site.data.lang[page.lang].offer_table_content_name}}</b><br>
												{% assign lowercase_homepage = row['Homepage'] | downcase %}
												{% if lowercase_homepage contains "http" or lowercase_homepage contains "www" or lowercase_homepage contains "https" %}
													<a href="{{ row['Homepage'] }}" target="_blank">{{ row['Name des Hubs'] }}</a>
												{% else %}
													{{row['Name des Hubs']}}
												{% endif %}
												<br><br>
											</div>
											<div>
												<b>{{site.data.lang[page.lang].offer_table_content_contact}}</b>
												{% assign contacts = row['Kontakt'] | split: ", " %}
												<ul>
													{% for contact in contacts %}
														<li>
															{% assign lowercase_contact = contact | downcase %}
															{% if "email,e-mail,mail,e mail" contains lowercase_contact %}
																<a href="mailto:{{ row['Nutzername'] }}" target="_blank">{{ row['Nutzername'] }}</a>
															{% elsif contact contains "@" and contact contains "." %}
																<a href="mailto:{{ contact }}" target="_blank">{{ contact }}</a>
															{% elsif contact contains "http" or contact contains "www" %}
																<a href="{{ contact }}" target="_blank">{{ contact }}</a>
															{% else %}
																{{ contact }}
															{% endif %}
														</li>
													{% endfor %}
												</ul>
												</div>
	  								</td>
	  								<td>
											<ul>
												{% if row['Addresse (für Anlieferung)'] and row['Addresse (für Anlieferung)'] != empty %}
													<li>
														<!-- # Liefern an -->
														<b>{{site.data.lang[page.lang].offer_table_content_shipping}}</b><br>
				  									{{ row['Addresse (für Anlieferung)'] }}
													</li>
												{% endif %}
												<li>
													<!-- # Standort -->
													<b>{{site.data.lang[page.lang].offer_table_content_location}}</b><br>
			  									{% if row['Hub Standort - Stadt'] and row['Hub Standort - Stadt'] != empty %}
			  										{{ row['Hub Standort - Stadt'] }},
													{% endif %}
			  									{% if row['Hub Standort - Bundesland'] and row['Hub Standort - Bundesland'] != empty %}
														{% assign lowercase_state = row['Hub Standort - Bundesland'] | strip %}
														{% if lowercase_state == "NRW" or lowercase_state == "Nordrhein Westfalen" %}
															Nordrhein-Westfalen,
														{% elsif row['Hub Standort - Bundesland'] == "BW" %}
															Baden-Württemberg,
														{% else %}
															{{ row['Hub Standort - Bundesland'] }},
														{% endif %}
			  									{% endif %}
			  									{{row['Hub Standort - Land']}}
												</li>
											</ul>
	  								</td>
	                  <td>
											{% if row['Wir bieten'] and row['Wir bieten'] != empty %}
												<b>{{site.data.lang[page.lang].offer_table_content_offer}}</b>
												{% assign offers = row['Wir bieten'] | split: ", " %}
												<ul>
													{% for offer in offers %}
														<li>{{ offer }}</li>
													{% endfor %}
												</ul>
											{% endif %}
											{% if row['Kapazitäten'] and row['Kapazitäten'] != empty %}
												<b>{{site.data.lang[page.lang].offer_table_content_capacity}}</b>
												{% assign capacities = row['Kapazitäten'] | split: ", " %}
												<ul>
													{% for capacity in capacities %}
														<li>{{ capacity }}</li>
													{% endfor %}
												</ul>
											{% endif %}
	  						    </td>
						  		</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>
				<p>
					{{site.data.lang[page.lang].offer_disclaimer}}
				</p>
			</div>
		</div>
	</section>

	<section id="maker">
		<div class="container flex">
			<div class="text editable">
				<!-- Ich bin ein Maker / wir sind ein Makerspace und wollen helfen -->
				<h2>{{site.data.lang[page.lang].support_header}}</h2>

				<iframe src="https://www.google.com/maps/d/embed?mid=1Sc7ZRpHDt-98-SCrfmRuFZNbLtF3I-uf" width="100%" height="480"></iframe>

				<p>{{site.data.lang[page.lang].support_registration}}</p>

				<p>{{site.data.lang[page.lang].offer_registration}}</p>

				<!--
					Als lokaler Maker unterstützt du deinen regionalen Hub! Hier findest du lokale Ansprechpartner, Informationen und Unterstützung.
					Zum Loslegen fehlen nur zwei Schritte:
					Registiere dich hier als Maker.
					Melde dich im deutschlandweiten Slack an und trete dort unter "Channels" dem nächsten lokalen Hub bei.
					-->
				{{site.data.lang[page.lang].support_description}}

				<br>
				<div class="button">
					<a style="background: {{ plan.color }}"
					href="{{site.slack_invite_link}}" target="_blank">
					{{site.data.lang[page.lang].support_join_slack}}</a>
				</div>
				<br>

				<!--
					Wo noch nicht vorhanden, suchen wir noch regionale Hubs als Zusammenschluss von Makern zur dezentralen Koordination.
					Hier sprecht ihr euch untereinander ab, verteilt Material und Bedarfe, evtl. auch Lagerung und Verteilung.
					Registriere dich als Hub hier.

					Wir suchen nach Leuten, die:
						- 3D Drucke fertigen
						- einen Lasercutter zur Verfügung haben (oder Schutzfolie manuell schneiden)
						- bei der Logistik helfen
						- bei der Planung / Organisation helfen

					Ziel ist es, dass sich Menschen lokal selbstorganisiert verbinden, um Produktionsmöglichkeiten zu schaffen. Diese bündeln wir übergreifend für den deutschsprachigen Raum. Für die Kommunikation nutzen wir den oben verlinken Slack Workspace.

					Hier kommunizieren lokale Hubs untereinander und hier findet die zentrale Organisation statt.

					Bitte beachte: Wir führen nur Initiativen auf, die ihre (selbst) produzierten Artikel kostenlos oder zum Selbstkostenpreis anbieten.
					-->
				<br>

				<!--

				<table class="default-table">
					<thead>
						<tr>
							<th>{{site.data.lang[page.lang].support_table_name}}</th>
							<th>{{site.data.lang[page.lang].support_table_location}}</th>
							<th>{{site.data.lang[page.lang].support_table_capacity}}</th>
							<th>{{site.data.lang[page.lang].support_table_contact}}</th>
						</tr>
					</thead>
					<tbody>
						{% for maker in site.data.makers %}
					  		<tr>
  								<td>
										{{maker.name}}
									</td>
									<td>
										{{maker.city}},
										{% if maker.state And maker.state != '' %}
											{{maker.state}},
										{% endif %}
										{{maker.country}}
									</td>
									<td>
										<ul>
											{% for capacity in maker.capacity %}
												<li>{{capacity}}</li>
											{% endfor %}
										</ul>
									</td>
									<td>
										{{maker.contact}}
									</td>
								</tr>
						{% endfor %}
					</tbody>
				</table>

				-->

			</div>
		</div>
	</section>

	<section id="donate">
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].donate_header}}</h2>
				<p>
					{{site.data.lang[page.lang].fund_raising_note}}
				</p>
				<div id="paypal">
					<p>{{site.data.lang[page.lang].cta_donate_paypal}}</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="WPV9XMKVPRMTG" />
<input type="image" src="https://www.makervsvirus.org/images/paypal-donation.jpg" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
</form>

				</div>
				<div>
					<p>{{site.data.lang[page.lang].cta_donate_transfer}}</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].equipment_header}}</h2>
				<ul>
					{% for equipment in site.data.equipments %}
						<li><a href="{{equipment.link}}" target="_blank">{{equipment.name}}</a></li>
					{% endfor %}
				</ul>
				<p>
					{{site.data.lang[page.lang].equipment_send_links}}
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].organizations_header}}</h2>
				<ul>
					{% for organisation in site.data.organisations %}
						<li><a href="{{organisation.link}}" target="_blank">{{organisation.name}}</a></li>
					{% endfor %}
				</ul>
				<p>
					{{site.data.lang[page.lang].organizations_send_links}}
				</p>
			</div>
		</div>
	</section>
</div>
