<section class="hero">
	<div class="text-container">
		<img src="{{ site.baseurl }}/images/big-logo.svg" height="400"/>
	</div>
	<div class="text-container">
		<h1 class="editable"></h1>

		<!-- Diese Website soll Menschen und Organisationen, die schwer zu bekommende Schutzmittel
		oder Ersatzteile brauchen, mit Makern und Makerspaces zusammenbringen, die diese eventuell
		herstellen können. Dahinter steckt ein kleines deutsch- und englischsprechendes
		Organistations-Team. -->
		<p class="subtext editable">{{site.data.lang[page.lang].subtitle}}</p>

		<!-- Wir listen ausschließlich Initiativen, die die (selbst) produzierten Dinge kostenlos oder
		zum Selbstkostenpreis anbieten.-->
		<p class="subtext editable">
			{{site.data.lang[page.lang].hint_non_profit}}
		</p>
		<br>
		<br>
		<strong><a target="_blank" href="https://twitter.com/search?q=%23makervsvirus" class="hero">#MakerVsVirus</a></strong>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].offer_header}}</h2>

				<p>{{site.data.lang[page.lang].offer_registration}}</p>

				<p>{{site.data.lang[page.lang].offer_description}}</p>

				<table class="default-table">
					<thead>
						<tr>
							<th>{{site.data.lang[page.lang].offer_table_name}}</th>
					    <th>{{site.data.lang[page.lang].offer_table_location}}</th>
					    <th>{{site.data.lang[page.lang].offer_table_offer}}</th>
              <th>{{site.data.lang[page.lang].offer_table_capacity}}</th>
					    <th>{{site.data.lang[page.lang].offer_table_contact}}</th>
						</tr>
					</thead>
					<tbody>
						{% for hub in site.data.hubs[page.lang] %}
					  		<tr>
  								<td>
  									{% if hub.link And hub.link != '' %}
  										<a href="{{hub.link}}" target="_blank">{{hub.name}}</a>
  									{% else %}
  										{{hub.name}}
  									{% endif %}
  								</td>
  								<td>
  									{{hub.city}},
  									{% if hub.state And hub.state != '' %}
  										{{hub.state}},
  									{% endif %}
  									{{hub.country}}
  						    </td>
  						    <td>
  									<ul>
  										{% for offer in hub.we_offer %}
  											<li>{{offer}}</li>
  										{% endfor %}
  									</ul>
  								</td>
                  <td>
										<ul>
											{% for capacity in hub.capacity %}
												<li>{{capacity}}</li>
											{% endfor %}
										</ul>
									</td>
						    	<td>{{hub.contact}}</td>
					  		</tr>
						{% endfor %}
					</tbody>
				</table>
				<p>
					{{site.data.lang[page.lang].offer_disclaimer}}
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<!-- Ich bin ein Maker / wir sind ein Makerspace und wollen helfen -->
				<h2>{{site.data.lang[page.lang].support_header}}</h2>

				<p>{{site.data.lang[page.lang].support_registration}}</p>

				<!--
				Wir suchen Leute, die:
					- 3D-Drucke machen
					- einen Laser-Cutter zur Verfügung haben
					- bei der Logistik helfen wollen
					- bei der Organisation helfen wollen

					Das Ziel ist, dass sich Menschen selbstorganisiert zu lokal produzierenden Hubs zusammenfinden, die wir auf
					dieser Website auflisten können. Dafür bieten wir den folgenden Slack workspace an, um Mitstreiter zu finden
					oder existierende hilfsbedürftige Hubs zu unterstützen:
					 BUTTON
					Wenn ihr euch als Hub eintragen wollt, schreibt bitte im Slack channels namens "Register Hub".
					-->
				{{site.data.lang[page.lang].support_description}}

				<br>
				<div class="button">
					<a style="background: {{ plan.color }}"
					href="{{site.slack_invite_link}}" target="_blank">
					{{site.data.lang[page.lang].support_join_slack}}</a>
				</div>

				<table class="default-table">
					<thead>
						<tr>
							<th>{{site.data.lang[page.lang].support_table_name}}</th>
							<th>{{site.data.lang[page.lang].support_table_location}}</th>
							<th>{{site.data.lang[page.lang].support_table_capacity}}</th>
							<th>{{site.data.lang[page.lang].support_table_contact}}</th>
						</tr>
					</thead>
					<tbody>
						{% for maker in site.data.makers %}
					  		<tr>
  								<td>
										{{maker.name}}
									</td>
									<td>
										{{maker.city}},
										{% if maker.state And maker.state != '' %}
											{{maker.state}},
										{% endif %}
										{{maker.country}}
									</td>
									<td>
										<ul>
											{% for capacity in maker.capacity %}
												<li>{{capacity}}</li>
											{% endfor %}
										</ul>
									</td>
									<td>
										{{maker.contact}}
									</td>
								</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].equipment_header}}</h2>
				<ul>
					{% for equipment in site.data.equipments %}
						<li><a href="{{equipment.link}}" target="_blank">{{equipment.name}}</a></li>
					{% endfor %}
				</ul>
				<p>
					{{site.data.lang[page.lang].equipment_send_links}}
				</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{site.data.lang[page.lang].organizations_header}}</h2>
				<ul>
					{% for organisation in site.data.organisations %}
						<li><a href="{{organisation.link}}" target="_blank">{{organisation.name}}</a></li>
					{% endfor %}
				</ul>
				<p>
					{{site.data.lang[page.lang].organizations_send_links}}
				</p>
			</div>
		</div>
	</section>
</div>
