

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, div, p, a, li, ul, body, section, .sub-heading, .normal {
	font-family: "Lato" ,"San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Lobster", "San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.caption, .narrative, .slab {
	font-family: "Roboto Slab", "San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}



a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}


h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

body {
	font-size: 18px;
}

p, address {
	font-size: 18px;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 28px;
}

.button {
	background: $primary-color;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 0.65em 1.3em;
	font-weight: 700;
}

.button{
	&:hover {
		background-color:$primary-color;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 7px 7px rgba(0,0,0,0.10);
	}
}

.row .row {
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	text-decoration: none;
}


.dotted-underline {
	border-bottom: 2px dashed;
    text-decoration: none;
	padding-bottom: 5px;
}

.gradient {
	background: rgba(255,102,31,1);
    background: -moz-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,102,31,1)), color-stop(100%, rgba(224,58,20,1)));
    background: -webkit-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -o-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: linear-gradient(to right, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
}

.ghost {
	visibility: hidden;
	position:relative !important;
	background: $white;
}

.reset {
	padding: 0;
	margin: 0;
}
