

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, div, p, a, li, ul, body, section, span {
	font-family: "Roboto" ,"San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}



h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

body {
	font-size: 18px;
}

p, address {
	font-size: 18px;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 28px;
}

.button {
	background: $primary-color;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 0.65em 1.3em;
	font-weight: 700;
}

.button{
	&:hover {
		background-color:$primary-color;
		box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 7px 7px rgba(0,0,0,0.10);
	}
}
