

.faq-heading {
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.faq-subheading {
    color: $second-color;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

._accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
    display: block;
    letter-spacing: -0.5px;
}

.accordion.active,
.accordion:hover {
}

.faq-underline {
    border-bottom: 1px dashed $second-color;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.faq-container {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 3rem;
    padding-bottom: 10rem;
    transform: skew(0deg, -2deg);
    margin-bottom: -40px;
    padding-left: 20px;
    padding-right: 20px;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: -1rem;
    p {
        color: black;
    }
}

.faq-circle,
.faq-orange-border {
    background: $second-color;
}

.faq-orange-border {
    position: relative;
    transform: skew(0deg, -2deg) translateY(5px) !important;
}

.faq-container-reverse {
    transform: skew(0deg, 2deg);
}

.p-iframe {
    border: none;
        height: 500px;
    @media #{$tablet} {
    height: 70vh;
    }
}