
footer {
	padding: 20px 0 50px 0;
	font-size: 1em;
	position: relative;
	background: black;
	color: #fff;
	z-index: 1;

	.copyright {
		font-size: .8em;
		margin: 0 auto;
		
		@media #{$tablet} {
			text-align: center;
		}

	}
	


	h2 {
		font-size: 1.4em;
		margin: 30px 0;
		// color: #ccc;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.legal-line {
		width: 100%;
		padding: 30px 0;
		margin: 0;
		background-color: #222527;

		a {
			font-weight: 600;
		}
	}
}


.nfooter {
	text-align: center;
	position: relative;
	a:nth-child(2) {
		margin-top: 60px;
	}
}



.footer-logo {
	display: flex;
	width: 100px;
	
	@media #{$tablet} {
		justify-content: center;
	}
}

.footer-logo-center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.terms {
	margin-top: 2rem;
	font-size: 12px;
	text-align: center;
}