
body {
    width: 100%;
}





.breakout-container {
    background: white;
}



.big-p {
    position: absolute;
    width: 100%;
}

.home__powerup {
    position: relative;
    height: 400px;
    h1 {
        position: absolute;
        z-index:1;
    }
    img {
        position: absolute;
        z-index: 0;
    }
}




.img__left {
    width: 85%;
    height: 100%;
    position: absolute;
        object-fit: cover;
}

.img__text-container {
    margin-left: auto;
    width: 75%;
    height: 80vh;;
    position: absolute;
    right: 0;
    align-self: center;
        background: white;
    opacity: 0.9;
}


.img__container {
    position: relative;
    height: 90vh;
    display: flex;

}

.img__text-wrapper {
    width: 80%;
    height: 100%;
    padding: 1rem;
}


.caption-container {
  
    padding-top: 2rem;
    padding-bottom: 3rem;

    @media #{$tablet} {
        padding-top: 6rem;
    padding-bottom: 6rem;
    }
}


.caption, .narrative {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: -0.5px;
    color: $white;
}

.caption {
        padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}

.narrative {
    color: $second-color;
    margin-bottom: 6rem;
}

.caption__button {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.button__wrapper {
    display: flex;
}


.home__image {
    height: 700px;
    width: 85%;
    background: gray;
    position: absolute;
    object-fit: cover;
    
}

.home__image-right {
    right: 0;
}

.home__image-left {
    left: 0;
}

.white-bg {
    z-index: -3;
    position: relative;
    background:url(../images/backgroundtexture.png);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.1;
}
.gradientgradient {
    z-index: -6;
    position: relative;
    background: rgba(255,102,31,1);
    background: -moz-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,102,31,1)), color-stop(100%, rgba(224,58,20,1)));
    background: -webkit-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -o-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    background: linear-gradient(to right, rgba(255,102,31,1) 0%, rgba(224,58,20,1) 100%);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}

.home__section-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
}

.home__section-gradient {
    padding-top: 50px;
    padding-bottom: 50px;
    opacity:0.95;
    &.radius-right {
        -moz-border-radius-topright: 30px;
        -moz-border-radius-bottomright: 30px;
        -webkit-border-top-right-radius: 30px;
        -webkit-border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    &.radius-left {
        -moz-border-radius-topleft: 30px;
        -moz-border-radius-bottomleft: 30px;
        -webkit-border-top-left-radius: 30px;
        -webkit-border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    h2, p {
        color: $white;
    }
}


.home__image-container {
    position: relative;
    margin-top: 6rem;
}

.home__our-story {
    h2 {
        text-align: center;
        color: white;
        margin-top: 1rem;
    }
    p {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 2rem;
        color: white;
        @media #{$tablet} {
            width: 80%;
        }
        @media #{$desktop} {
            width: 70%;
        }
    }
}

.narrative-container {
    margin-top: 4rem;
    color: white;
}

.narrative {
    color: white;
}

.narrative-icon {
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.arrow-icon-container {
    align-items: center;
    padding-bottom: 20px;
    display: none;
    @media #{$mid-point} {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
    }

    @media #{$desktop} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.home__hero {
    .title, .sub-heading {
        color: white;
    }
    .sub-heading {
        text-align: right;
    }
    a {
        margin-left: auto;
    }

}



// ----------------------------------------------------------------------------

.home-hero {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    position: relative;
    height: 85vh;
    @media #{$tablet} {
        min-height: 500px;
    }

    
}
.title, .sub-heading {
        color: white;
        flex-wrap: wrap;
}

.title {
    margin-top: 21vh;
    margin-left: auto;
	margin-right: auto;
	font-family: "Roboto Slab", sans-serif !important;
	font-weight: 700;
	letter-spacing: -3px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	@media #{$tablet} {
		font-size: 7rem;
        
        margin-top: 21vh;
        text-shadow: none;
	}
    @media #{$desktop} {
        font-size: 10rem;
        margin-right: 100px;
        text-shadow: none;
    }
}



.sub-heading {
    margin-left: auto;
    margin-right: auto;
    padding:0 10px;
    text-align: center;
    width: 100vw;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, .9);
    @media #{$tablet} {
        font-size: 2rem;
    }
}

.home-hero-image {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    @media #{$tablet} {
        min-height: 500px;
    }
    
}

.home-hero-image-powerup-container {
    position: absolute;
}
.home-hero-image-powerup {
    position: relative;
    z-index: 2;
    margin-top: 10vh;
    @media #{$tablet} { 
        width: 90% !important;
}
    @media #{$desktop} { 
    
        width: 80% !important;
        display: flex;
        margin: auto;
        margin-top: 5vh;

    }
}




.home-hero-button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    // height: 35px;
    @media #{$desktop} {
        // transform: scale(1.5);
    }
}



.texttext {
    position:relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
}


.x-home__image-container {
    transform: skew(0deg, -2deg);
    overflow: hidden;
    position: relative;
    .x-home-image {
        transform: skew(0deg, 2deg);
        overflow: hidden;
        transform: scale(1.1);
        height: 50vh;
        object-fit: cover;
        @media #{$tablet} {
            height: 70vh;
            min-height: 450px;
        }
    }
}

.reverse-skew {
    transform: skew(0deg, 2deg);
}

.black {
    background: black;
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 12;
    display: flex;
    right: 0;
    flex-wrap: wrap;
    align-items: center;
    &.reverse {
            left: 0;
    }

    @media #{$tablet} {
        background: rgba(0,0,0,0.85);
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 12;
        display: flex;
        right: 0;
    }

    .black-container {
        color: white;
        width: 100%;
        text-align: center;
        padding: 4rem 0.5rem;

        @media #{$tablet} {
            width: 90%;
            text-align:left;
            padding: 3rem 1rem 3rem 5rem;
        }

        @media #{$desktop} {
            width: 60%;
        }

        &.reverse {
            margin-left: auto;
            @media #{$tablet} {
                padding: 3rem 5rem 3rem 1rem;
            }
        }
        
        p {
            color: white;
            margin-top: 1rem;
        }
    }
}

.x-icon {
    height: 70px;
    width: 70px;
}

.white-border {
    background: white;
    height: 10px;
    width: 100%;
    position: absolute;
    z-index: 13;
    transform: skew(0deg, -2deg) translateY(-5px);
}


.circle {
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
    transform: translateY(-50px);
    display: none;
    @media #{$tablet} {
        display: block;
    }
}


.nav-button {
    background: #2098f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0.65em 1.3em;
    font-weight: 700;
}

.sponsor-container {
    background: #333;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.center-icon {
    margin: auto;
    display: flex;
    width: 75px;
    margin-top: 2em;
}

