.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #000000;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ff0000;
	text-align: center;
	background: #000000; 
    background-image: url("/images/bchexp311383m2.png"); 
    background-size: contain; /* resize image to fit within the div while maintaining aspect ratio */
    background-repeat: no-repeat; /* prevent image from repeating */
    background-position: center; /* center the image within the div */
    display: flex; /* use flexbox layout */
    align-items: center; /* vertically center the child elements */
    /* width: 1000px; set the width of the div*/
    height: 750px; /*  set the height of the div */

	p {
		color: #ffffff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0px 10px 0px 10px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
