.speakers__img {
    border-radius: 50%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 1rem;
}

.speakers__name {
    font-weight: 700;
    margin: 0;
    color: $primary-color;
}

.speakers__position {
    font-weight: 300;
    margin-bottom: 1rem;
    color: $black;
}

.speakers__subh {
    font-weight: 300;
}

.speakers__h {
    font-weight: 700;
    text-transform: uppercase;
}

.speakers__hero {
    margin-bottom: 4rem;
    z-index: 2;
    position: relative;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.speakers__list {
    transform: translateY(-8rem);
}

.speaker {
    margin-top: 3rem;
}

.speakers__blurb {
    color: $black;
    margin-top: 1rem;
}

.speakers__inspiration {
    background: $primary-color;
}


.speakers-hero {
    position: relative;
    transform: translateY(-2.5rem);
}

.programs-hero {
    position: relative;
}

.image-container {
    overflow: hidden;
    position: relative;

     @media #{$tablet} {
        height: 800px;
    }
    @media #{$desktop} {
        height: 100vh;
    }
   
    
}

.radial-gradient {
    background: radial-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
}

.speakers-hero-image {
    height: 60%;
    width: 100vw;
    background-size: cover;
    object-fit: cover;
    position: relative;
 

    @media #{$tablet} {
        height: 800px;
    }
    @media #{$desktop} {
        height: 100vh;
    }
    @media screen and (max-width: 39.9375em) {
        display:none;
    }
}





    .speaker-container {
           color: white;
    width: 100%;
    height: 40rem;
    text-align: center;
    padding: 2rem 2rem;

        @media #{$tablet} {
            width: 90%;
            
            text-align:left;
            padding: 3rem 1rem 3rem 5rem;
        }

        @media #{$desktop} {
            width: 75%;
            height:80%
           
        }

      
        }





.speaker {

    padding:0px 30px 0px 30px;
 color: white;
     @media screen and (max-width: 39.9375em) {
        text-align: center;
    }

    @media #{$tablet} {
      text-align: center;
    }
     @media #{$desktop} {
        text-align: left;
        
    }
}


.x-speaker-image {
    transform: skew(0deg, 2deg);
    overflow: hidden;
    transform: scale(1.1);
    object-fit: cover;

   

    @media #{$tablet} {
      height: 70vh;
    }
    @media #{$desktop} {
        height: 77vh;
        margin-top:30px;
        
    }
    @media screen and (max-width: 39.9375em) {
        display:none;
    }
}


.black-2 {
    padding-top:30px !important;
    padding-bottom:20px !important;
height:100%;
width:100%;

 @media #{$tablet} {
      padding-top:30px !important;
    padding-bottom:20px !important;
     width:100% !important;
        height:100%;
    }
    @media #{$desktop} {
        width:50% !important;
        height:100%;
    }
    

}




.landing {
    margin-bottom: 0px !important;
    background: rgba(255, 255, 255, 0.85) !important;
    padding: 10px !important;
    @media #{$tablet} {
        padding: 3rem !important;
        background: rgba(255, 255, 255, 0.93) !important;
        
    }
    h2 {
        color: black;
        line-height: 1.3;
        text-align: left;
        font-family: "Lato", sans-serif !important;
        font-weight: bold;
        font-size: 1.3em;
        margin-top: 30px;
    }
    p {
        color: #333;
    }
    img {
        width: 80%;
        margin-bottom: 20px; 
        margin-top: 20px;   
        margin-left: auto;
        margin-right: auto;
        display: flex;
        @media #{$tablet} {
            width: 65%;
            margin-right: auto;
            display: flex;
            margin-left: 0;

        }
    }
}

.landing-img {
    max-height: 300px;
    object-fit: cover;
}

.landing-hero-container {
  position: fixed;  
  height: 100%;
  width: 100%;
//   object-fit: cover;
  transform: scale(1.2);
  
  z-index: -3;
}
.landing-hero {
    position: fixed;
    

}




.ticket {
    
    h2 {
        font-family: 'Lato', sans-serif !important;
        color: #2098f5;
        font-weight: 900;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.1;
        font-size: 2.1em !important;
        padding-left: 0px;
    }
    h4 {
        font-family: 'Lato', sans-serif !important;
        font-weight: 900;
        color: #444;
    }
    p {
        color: #333 !important;
    }

    .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-embed {
        margin-bottom: 20px;
    }
    @media #{$tablet} {
        .video-embed {
            padding-left: 40px;
        }
        h2 {
            margin-top: 3rem;
            padding-left: 20px;
            margin-bottom: 20px;
            font-size: 2.4em !important;

        }
    }
    
}