$brand-color: #1B1B1B;
$secondary-brand-color: #0E0E0E;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 0%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
